In [35]:
import pandas as pd

In [62]:
ticker = "ES"
ticker += "_temp"       # Temp!
interval = 30           # Assumed to be either 5, 10, 15, 30, 50 minutes

In [ ]:
# Pull historical data on defined future ticker
futures_df = pd.read_csv(f"./data/S&P500 Mini/{ticker}.csv", index_col='t', parse_dates=True)

futures_df

                           o        h        l        c     v
t
2019-12-15 18:00:00  3179.50  3180.50  3177.50  3178.75  1455
2019-12-15 18:01:00  3178.75  3179.50  3178.75  3179.50   461
2019-12-15 18:02:00  3179.50  3179.50  3178.75  3179.00   193
2019-12-15 18:03:00  3179.00  3179.00  3178.25  3178.50   165
2019-12-15 18:04:00  3178.25  3178.25  3178.00  3178.00   159
...                      ...      ...      ...      ...   ...
2020-06-17 23:55:00  3099.75  3100.00  3099.00  3099.25    40
2020-06-17 23:56:00  3099.25  3099.25  3098.75  3098.75    75
2020-06-17 23:57:00  3099.00  3099.25  3098.50  3098.75    32
2020-06-17 23:58:00  3099.00  3099.00  3097.75  3097.75    55
2020-06-17 23:59:00  3098.00  3098.25  3096.50  3097.00   103

[175671 rows x 5 columns]

In [ ]:
# Resample dataframe to defined holding period
resampled_o = futures_df['o'].resample(f"{interval}min").first()
resampled_h = futures_df['h'].resample(f"{interval}min").max()
resampled_l = futures_df['l'].resample(f"{interval}min").min()
resampled_c = futures_df['c'].resample(f"{interval}min").last()
resampled_v = futures_df['v'].resample(f"{interval}min").sum()

main_df = pd.DataFrame(
    {
        'o': resampled_o,
        'h': resampled_h,
        'l': resampled_l,
        'c': resampled_c,
        'v': resampled_v,
    }
)

main_df

                           o        h        l        c     v
t
2019-12-15 18:00:00  3179.50  3180.50  3177.00  3178.50  5571
2019-12-15 18:30:00  3178.50  3180.00  3178.25  3178.50  2996
2019-12-15 19:00:00  3178.50  3180.75  3178.25  3179.25  3417
2019-12-15 19:30:00  3179.25  3181.00  3178.75  3180.00  2393
2019-12-15 20:00:00  3180.00  3181.25  3179.75  3180.75  3291
...                      ...      ...      ...      ...   ...
2020-06-17 21:30:00  3090.00  3090.00  3075.25  3085.00  3605
2020-06-17 22:00:00  3084.75  3085.00  3077.75  3082.00  1543
2020-06-17 22:30:00  3081.75  3086.50  3076.00  3083.75  1422
2020-06-17 23:00:00  3084.25  3096.50  3083.00  3095.25  2029
2020-06-17 23:30:00  3095.50  3100.00  3093.00  3097.00  1795

[8892 rows x 5 columns]

Select security, groupby holding period
Find tick size, denote moves by ticks

Cross-check with Hannah: if minimum tick moves match what I found