In [1]:
import pandas as pd
import pickle

In [2]:
# Temporary dataset made as shown in project brief
es_march = pd.read_csv("data/S&P500 Mini/ESH20.csv", header=None, index_col=0)
es_june = pd.read_csv("data/S&P500 Mini/ESM20.csv", header=None, index_col=0)

In [3]:
march_df = es_march["2019.12.15":"2020.03.18"].copy()
june_df = es_june["2020.03.18":"2020.06.18"].copy()
es_df = pd.concat([march_df, june_df])
es_df.columns = ['o', 'h', 'l', 'c', 'v']
es_df.index.name = 't'

es_df

                           o        h        l        c     v
t
2019.12.15.18:00:00  3179.50  3180.50  3177.50  3178.75  1455
2019.12.15.18:01:00  3178.75  3179.50  3178.75  3179.50   461
2019.12.15.18:02:00  3179.50  3179.50  3178.75  3179.00   193
2019.12.15.18:03:00  3179.00  3179.00  3178.25  3178.50   165
2019.12.15.18:04:00  3178.25  3178.25  3178.00  3178.00   159
...                      ...      ...      ...      ...   ...
2020.06.17.23:55:00  3099.75  3100.00  3099.00  3099.25    40
2020.06.17.23:56:00  3099.25  3099.25  3098.75  3098.75    75
2020.06.17.23:57:00  3099.00  3099.25  3098.50  3098.75    32
2020.06.17.23:58:00  3099.00  3099.00  3097.75  3097.75    55
2020.06.17.23:59:00  3098.00  3098.25  3096.50  3097.00   103

[175671 rows x 5 columns]

In [4]:
es_df.to_csv("data/S&P500 Mini/ES_temp.csv")

In [2]:
tick = {
    "RX": 0.01,
    "HG": 0.05,
    "CL": 0.01,
    "EC": 0.00005,
    "GC": 0.1,
    "NQ": 0.25,
    "ES": 0.25,
    "SI": 0.005,
    "S": 0.25,
    "TY": 0.000025,
}

In [3]:
with open("data/futures_ticks.pkl", "wb") as f:
    pickle.dump(tick, f)

f.close()